importFrom(graphics, pairs, plot, axis, barplot, points)
import(tsBSS, ICtest, JADE, BSSprep, ggplot2, stats)
importFrom(xts, xts, xtsAttributes, is.xts)
importFrom(zoo, zoo, is.zoo)

export(SSAsir, SSAsave, SSAcor, ASSA, SSAcomb, rtvvar, rtvAR1)
S3method(SSAsir,default)
S3method(SSAsir,ts)
S3method(SSAsir,xts)
S3method(SSAsir,zoo)
S3method(SSAsave,default)
S3method(SSAsave,ts)
S3method(SSAsave,xts)
S3method(SSAsave,zoo)
S3method(SSAcor,default)
S3method(SSAcor,ts)
S3method(SSAcor,xts)
S3method(SSAcor,zoo)
S3method(ASSA,default)
S3method(ASSA,ts)
S3method(ASSA,xts)
S3method(ASSA,zoo)
S3method(SSAcomb,default)
S3method(SSAcomb,ts)
S3method(SSAcomb,xts)
S3method(SSAcomb,zoo)
S3method(ggscreeplot,ssabss)
S3method(screeplot,ssabss)
S3method(plot,ssabss)